header {
    height: 140px;
    width: 1100px;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #e03e52;
    color: #FFFFFF;
  }
  
  header h1 {
    padding: 1em;
    margin: 0;
  }